{% extends 'extends.html' %}

{% block title %} Login - Finance Me {% endblock %}
{% block navbar %} {% include 'partials/navbar.html' %} {% endblock %}
{% block content %}

<h1>Login</h1>

<div class="center">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Nome de usuario</label>
            <input type="text" class="form-control" id="username" placeholder="nome_usuario">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" placeholder="Senha do usuario">
        </div>
        <button type="submit" class="btn btn-dark">Entrar</button>
    </form>

</div>

{% endblock %}